@model Models.Generics.Proportion

@{
    ViewBag.Title = "AddActivityGradeProportion";
}

<h2>AddActivityGradeProportion</h2>
@using (Html.BeginForm())
{
    <text>

        Activity grade proportion: <input type="text" name="ActivityGradeProportion" />
        <input type="submit" value="Submit" />
    </text>
}