@model Models.Generics.Attendance

@{
    ViewBag.Title = "AddAttendance";
}

<h2>AddAttendance</h2>
@using (Html.BeginForm())
{
    <text>

        Attendance: <input type="text" name="Attendance" />
        <input type="submit" value="Submit" />
    </text>
}